.user-card {
  &:hover .user-card__actions {
    visibility: visible;
    opacity: 1;
  }
}

.user-card__title, .user-card__subtitle {
  word-break: break-all;
}

.md-app-content .md-card.user-card {
  margin: 0;
}

.user-card__actions {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in;

  @media screen and (max-width: 991px) {
    visibility: visible;
    opacity: 1;
  }
}